@import url('https://fonts.googleapis.com/css?family=Marvel');

h1{
  font-family: Marvel,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 120px !important;
  font-weight: bolder !important;
  color:  rgb(241, 241, 224);
}
